.bg{
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.navbar{
    margin-top: 10px;
    height:50px ;
    background-color: #E9F1F3;
    opacity: 1;
}

.btn-aboutUs {
/*  margin-left: 10px;*/
  margin-top: 12px;
}

.btn-home {
  margin-left: 20px;
  margin-top: 12px;
  color: white;
}

.btn-dropDown {
/*  margin-left: 10px;*/
  margin-top: 12px;
}

.btn-sell{
/*  margin-left: 800px;*/
}       
.btn-circle{
  background-color: #F46855;
  position: relative;
  min-width: 80px;
  margin-top: 5px;
  height: 40px;
  text-align: center;
  color: white;
  border: solid #F46855;
  border-radius: 6px;
}

.search-bar{

  margin-top: 120px;
 /* margin-left: 500px*/;
}

.input{
  position: relative;
  min-width: 400px;
  opacity: 0.8;
}

.btn-ddwn{
  background-color: #F46855;
  border: solid #F46855;

}